#cabecalhoPrincipal h1, #cabecalhoPrincipal nav, #cabecalhoter, article .titulo, #cabecalhoseg a{
    text-align: center;
}

#cabecalhoPrincipal, #cabecalhoter{
    background-color: rgb(80,197,155);
    font-family: Arial, Helvetica, sans-serif;
}
#cabecalhoPrincipal{
    padding-bottom: 9px;
}
#cabecalhoter{
    padding-bottom: 3px;
    padding-top: 3px;
}
#cabecalhoPrincipal h1, #cabecalhoPrincipal a{
    color: white;
}
body, #cabecalhoPrincipal h1, p, #cabecalhoseg{
    margin: 0;
}
#cabecalhoPrincipal a{
    background-color: rgb(62, 129, 191);
    display: inline-block;
    width: 90px;
    text-decoration: none;
    padding-top: 7px; 
    padding-left: 0.5px;
    padding-bottom: 5px;
    padding-right: 0.5px;
    margin-top: 5px;
}
#cabecalhoseg a{
    display: block;
    margin-top: 4px;
}
#cabecalhoseg{
    background-color: rgb(240, 240, 240);
    padding-bottom: 20px;
    overflow: hidden;
}
#cabecalhoseg .titulo1{
    padding-left: 3%;
}
#cabecalhoseg .titulo, .titulo1{
    font-weight: bold;
    padding-top: 8px;
    margin-bottom: 5px;
}
article, #cabecalhoseg .titulo, .titulo1, #cabecalhoPrincipal a{
    font-family: Arial, Helvetica, sans-serif;
}
article{
    width: 33.33%;
    float: left;
    text-align: justify;
}
.cont{
    padding-left: 10%;
    padding-right: 10%;
}